
<nav id="sidebar">
    <div class="sidebar_blog_2">
        <h4>Menü</h4>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="/Admin/Dashboard/Index"><i class="fa fa-dashboard orange_color"></i> <span>Dashboard</span></a>
            </li>
            <li class="active">
                <a href="/Default/Index"><i class="fa fa-arrow-circle-left yellow_color"></i> <span>Siteye Dön</span></a>
            </li>
            <li class="active">
                <a href="/Admin/Property/Index"><i class="fa fa-diamond blue1_color"></i> <span>İlanlar</span></a>
            </li>
            <li class="">
                <a href="/Admin/Category/Index"><i class="fa fa-table yellow_color"></i> <span>Kategoriler</span></a>
            </li>
            <li class="">
                <a href="/Admin/Location/Index"><i class="fa fa-map purple_color2"></i> <span>Lokasyonlar</span></a>
            </li>
            <li>
                <a href="/Admin/Features/Index"><i class="fa fa-certificate orange_color"></i> <span>Öne Çıkan Panel</span></a>
            </li>
            <li>
                <a href="/Admin/Agent/Index"><i class="fa fa-group green_color"></i> <span>Emlakçılar</span></a>
            </li>
            <li>
                <a href="/Admin/Testimonial/Index"><i class="fa fa-comments blue1_color"></i> <span>Kullanıcı Yorumları</span></a>
            </li>
            <li>
                <a href="/Admin/Newsletter/Index"><i class="fa fa-bookmark purple_color"></i> <span>Mail Bülteni</span></a>
            </li>
            <li>
                <a href="/Admin/TagCloud/Index"><i class="fa fa-tags orange_color"></i> <span>Etiket Bulutu</span></a>
            </li>
        </ul>
    </div>
</nav>