@model List<ResultFeaturesDto>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            @foreach (var item in Model)
            {
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center"><div class="icon"><span class="@item.Icon"></span></div></div>
                        <div class="media-body p-2 mt-2">
                            <h3 class="heading mb-3">@item.Title</h3>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>