@model int
@{
    ViewData["Title"] = "Details";
    ViewData["PageTitle"] = "İlan Detayları";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
@await Component.InvokeAsync("_UILayoutSearchPropertyComponent")
<section class="ftco-section">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("_PropertyDetailsComponent",Model)
            <div class="col-lg-4 sidebar ftco-animate">
                @await Component.InvokeAsync("_PropertyDetailsCategoriesComponent")
                @await Component.InvokeAsync("_PropertyDetailsTagCloudComponent")
            </div>
        </div>
    </div>
</section>