@model SearchPropertyViewModel
<section class="ftco-search">
	<div class="container">
		<div class="row">
			<div class="col-md-12 search-wrap">
				<h2 class="heading h5 d-flex align-items-center pr-4"><span class="ion-ios-search mr-3"></span> İlan Ara</h2>
				<form action="#" class="search-property">
					<div class="row">
						
						<div class="col-md align-items-end">
							<div class="form-group">
								<label for="#">Lokasyon</label>
								<div class="form-field">
									<div class="icon"><span class="icon-my_location"></span></div>
									<input type="text" name="Location" class="form-control" placeholder="City/Locality Name">
								</div>
							</div>
						</div>
						<div class="col-md align-items-end">
							<div class="form-group">
								<label for="#">İlan Türü</label>
								<div class="form-field">
									<div class="select-wrap">
										<div class="icon"><span class="ion-ios-arrow-down"></span></div>
										<select name="PropertyStatus" id="" class="form-control">
											<option value="">Type</option>
											<option value="Kiralık">Kiralık</option>
											<option value="Satılık">Satılık</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md align-items-end">
							<div class="form-group">
								<label for="#">Minimum Price</label>
								<div class="form-field">
									<div class="select-wrap">
										<div class="icon"><span class="ion-ios-arrow-down"></span></div>
										<input type="text" name="MinimumPrice" class="form-control" placeholder="Minimum Fiyat">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="#">Maximum Fiyat</label>
							<div class="form-field">
								<div class="select-wrap">
									<div class="icon"><span class="ion-ios-arrow-down"></span></div>
									<input type="text" name="MaximumPrice" class="form-control" placeholder="Maximum Fiyat">
								</div>
							</div>
						</div>
						<div class="col-md align-self-end">
							<div class="form-group">
								<div class="form-field">
									<button type="submit" class="form-control btn btn-primary">Ara</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>