

<div class="hero-wrap" style="background-image: url('/royalestate-master/images/bg_1.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Ana Sayfa</a></span> <span>@ViewData["PageTitle"]</span></p>
                <h1 class="mb-3 bread">@ViewData["PageTitle"]</h1>
          </div>
        </div>
      </div>
    </div>